@import "../../../styles/colors.scss";


.custom-container{
  width: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 10px solid red;
  background-color: lightblue;

  .image-recipe{
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
  }
  h1{
    color: $primary-color-1;
  }
  h2{

  }
  p{

  }
}
