
<app-carousel></app-carousel>

<div>
  <h3 [ngClass]="evindenziato ? 'testoEvidenziato': ''" (click)="onEvidenziazione()" style="cursor: pointer;">Benvenuti in Cibando</h3>
  <p [style]="{'background-color':evindenziato ? 'yellow': ''}">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Magni maiores dolorem doloribus rem fugit dolores ex corrupti assumenda commodi eligendi,
    totam hic temporibus voluptas unde quos atque? Provident odio ipsa delectus qui,
    voluptatum porro tenetur velit esse explicabo enim assumenda beatae.
    Eum quasi quod quos odio, optio hic sunt blanditiis atque cupiditate temporibus!
    Assumenda voluptas corrupti ratione? Perferendis, repellendus.
    Odio facere distinctio mollitia numquam harum, reiciendis ipsum tempora corporis
    modi at officiis tenetur ducimus nesciunt qui vero, illo doloremque et! Laboriosam,
    beatae magni aut odit porro saepe doloribus qui hic nulla cumque, velit exercitationem sapiente illo sed totam!
    Temporibus corrupti fugit officia atque eos ad perspiciatis quibusdam.
    Mollitia soluta dolore, exercitationem quis ut voluptatum eius earum necessitatibus.
    Quia, voluptatibus. Quos quibusdam explicabo consequatur similique ut culpa consequuntur,
    iure nam accusamus, assumenda, ipsam accusantium.</p>
</div>

<h2>Ultime ricette</h2>
<app-recipe-card [recipes]="ricette"></app-recipe-card>
<!--
<button (click)="openModal(modaleUno, '4345', 'Leonardo')">Elimina Prodotto</button>
<button (click)="openModal(modaleRegistrazione)">Registrazione</button> -->

<!--MODALE UNO-->
<ng-template #modaleUno let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Elimina Prodotto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Sei sicuro di voler eliminare questo prodotto num{{this.idModale}} <strong>{{this.nomeModale}}</strong>?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.dismiss()" ngbAutoFocus>Annulla</button>
    <button type="button" class="btn btn-primary" (click)="modal.close()">ELIMINA</button>
	</div>
</ng-template>

<!--MODALE DUE-->
<ng-template #modaleRegistrazione let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Grazie per esserti registrato!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <h3> Ecco i tuoi dati: </h3>
    <ul>
      <li>Nome: {{this.datiRegistrazione['name']}} </li>
      <li>Email: {{this.datiRegistrazione['email']}} </li> <!--trucchetto per non avere errore chiamandalo come fosse un array-->
    </ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Chiudi</button>
	</div>
</ng-template>
