.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  margin: auto;
  height: 50vh;
  justify-content: center;
}
.name{
  border: 2px solid red;
}
.email{
  border: 2px solid red;
}
.password{
  border: 2px solid red;
}
