<app-header></app-header>
<div id="container-login" class="d-flex justify-content-center align-items-center
  p-lg-2 rounded shadow bg-opacity-10 mt-4" style="height: 500px; width: 500px;">
  <h1>Login</h1>
  <form #form="ngForm">
    <div class="d-flex justify-content-center align-items-center w-100">
      <p-floatLabel >
        <input  pInputText id="username" ngModel name="email">
        <label for="username">Username/email</label>
      </p-floatLabel>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <p-floatLabel class="mt-4" >
        <p-password  id="password" ngModel name="password"  [toggleMask]="true"/>
        <label for="password">Password</label>
      </p-floatLabel>
    </div>


    <div class="d-flex justify-content-center align-items-center mt-3">
        <p-button label="Accedi" [rounded]="true" icon="pi pi-check" iconPos="right" (onClick)="onSubmit(form.value)"/>
    </div>
  </form>

  <div id="error-message" *ngIf="errorMessage.length">
    {{errorMessage}}
  </div>

  <div id="registrati">
     <a routerLink="/registrazione">Se non sei ancora registrato, clicca qui per registrarti</a> <!--// lo slash percorso assoluto -->
  </div>
</div>
