<div class="card" style="width: 18rem">
  <div
    class="card-image"
    [ngStyle]="{ 'background-image': 'url(' + recipe.image + ')' }"
    (click)="inviaTitolo(recipe.title)"
  ></div>
  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <!-- <p class="card-text">{{recipe.description | slice: 0:250}}...</p> -->
    <p class="card-text" [innerHTML]="accorciaDescrizione(recipe.description)">
      ...
    </p>

    <a
      *ngIf="page !== 'home'"
      class="btn btn-primary"
      routerLink="dettaglio/{{ recipe.title }}/{{ recipe._id }}"
      >Visualizza</a
    >
    <div class="d-inline-block float-end">
    <a
      *ngIf="authService.isLogged() && authService.isAdmin()"
      class="btn btn-primary ms-2"><i class="pi pi-pencil"style="font-size: 1rem"></i></a
    >
    <a
    *ngIf="authService.isLogged() && authService.isAdmin()"
    class="btn btn-primary ms-2"><i class="pi pi-trash" (click)="openModal()"></i>
    </a>
  </div>
    <a
      *ngIf="page === 'home'"
      class="btn btn-primary"
      routerLink="/recipes/dettaglio/{{ recipe.title }}/{{ recipe._id }}"
      >Dettaglio</a
    >
  </div>
</div>

<!--Modale di cancellazione-->
<div class="card flex justify-content-center">
  <p-button (onClick)="openModal()" label="Show" />
  <p-dialog header="Cancellazione Ricetta" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
      <div class="flex align-items-center gap-3 mb-3">
          <h4>Vuoi cancellare la seguente ricetta: </h4>
          <label class="font-bold w-6rem">{{recipe.title}}</label>
      </div>
      <div class="flex justify-content-end gap-2">
          <p-button label="Annulla" severity="secondary" (onClick)="visible = false" />
          <p-button label="Elimina"  (onClick)="visible = false && cancellaRicetta(recipe._id)"  />
      </div>
  </p-dialog>
</div>
