@import "../../../styles/colors.scss";

  .card-image{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  .card-title{
    font-weight: bold;
    font-size: 16px;
    color: $primary-color-1;
  }

  .card-text{
    text-align: justify;
  }
