
.container-title{

}

.bg-red{
  background-color: #8e210b!important;
}

header{
  background-color: #8e210b!important;
  padding-left: 10px;
}

.logo-cibando{
  width: 100px;
  margin: 10px;
}

.carousel-caption-no-carousel {
  position: relative;
    top: -90px;
    color: white;
    text-align: center;
  h3 {
    font-family: "Homemade Apple", cursive;
    font-size: 40px;
    text-shadow: black 2px 3px 3px;
  }
}

.image-no-carousel {
  height: 550px;
}

