.carousel-caption-no-carousel {
  position: relative;
    top: -90px;
    color: white;
    text-align: center;
  h3 {
    font-family: "Homemade Apple", cursive;
    font-size: 40px;
    text-shadow: black 2px 3px 3px;
  }
}

.image-no-carousel {
  height: 550px;
}
