<ngb-carousel *ngIf="images.length>1; else noSlide">
  <ng-template ngbSlide *ngFor="let image of images; let i = index">
    <div class="picsum-img-wrapper">
      <img [src]="path + image.id + '.jpg'" alt="[image.label]" />
    </div>
    <div class="carousel-caption-no-carousel">
      <h3>{{ image.label }}</h3>
      <span *ngIf="images.length === i + 1"> Ultima foto </span>
    </div>
  </ng-template>
</ngb-carousel>

<ng-template #noSlide>
<div>
  <div class="image-no-carousel" [style]="'background: url(' + path + images[0].id + '.jpg); background-repeat: no-repeat; background-position: center; background-size: cover;'">
  </div>
  <div class="carousel-caption-no-carousel">
    <h3>{{images[0].label}}</h3>
  </div>
</div>
</ng-template>
