@import "../../styles/colors.scss";

#background {
  background-color: $primary-color-3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  margin: auto;
  height: 50vh;
  justify-content: center;

}